<div class="wrapper">
    <div class="page-header page-header-small" data-parallax="true" style="background-image: url('../../../../assets/img/2018/2018_3.jpg');">
        <div class="filter"></div>
    </div>
    <div class="section profile-content">
        <div class="container">
            <div class="owner">
                <div class="name pt-5">
                    <h4 class="title mb-5">REGLAMENTO COSANGARACE<br /></h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 ml-auto mr-auto text-justify">
                    <h6 class="text-left">
                        GENERALIDADES
                    </h6>
                    El objeto de la competición de Slalom es realizar un recorrido en aguas bravas, franqueando un número determinado de puertas sea río abajo o río arriba en el menor tiempo posible.
                    Las compuertas de color verde y blanco indican atravesarla en dirección río abajo, las de color rojo y blanco indican atravesarla río arriba; las que tienen rótulos en la parte superior indican realizar lo pedido (Ej: “Roll” – Indica tener que hacer un rol).
                    El recorrido del Cosangarace tiene una longitud de 200 metros aprox con dificultades de navegación en rápidos clase II+ y III.
                    <br>
                    <br>
                    <br>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 ml-auto mr-auto text-justify">
                    <h6 class="text-left">
                        DE LA INSCRIPCIÓN
                    </h6>
                    Los participantes deben presentarse en la carpa de inscripciones el dia de la carrera con un documento de identificación y su respectivo casco.
                    Los participantes deben haber completado su inscripción online, y llenar de manera personal en la carpa de inscripciones el día de la carrera el documento de Descargo de Responsabilidades.
                    Los participantes deben ser mayores de 18 años. En caso de ser menor de edad, su representante legal debe completar la hoja Autorización y Descargo de Responsabilidades Menores de Edad.
                    Los participantes deben haber completado 2 corridas de reconocimiento de la pista para poder inscribirse
                    <br>
                    <br>
                    <br>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 ml-auto mr-auto text-justify">
                    <h6 class="text-left">
                        DE LA SEGURIDAD
                    </h6>
                    La seguridad está primero. Si alguien está en una situación de riesgo, los participantes están en la obligación de poner en prioridad la seguridad de ellos mismos y de los otros participantes, por sobre la carrera.
                    En caso de escuchar 3 pitazos, la carrera se parará temporalmente hasta reevaluar la situación y que se determine por parte del comité que es seguro continuar.
                    Aquellas personas que estaban siendo cronometradas y se vieron afectadas por alguna situación de peligro podrán repetir su largada, previa autorización del comité.
                    <br>
                    <br>
                    <br>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 ml-auto mr-auto text-justify">
                    <h6 class="text-left">
                        DE LOS PARTICIPANTES
                    </h6>
                    Todos los participantes deben estar equipados obligatoriamente con casco, chaleco salvavidas, y falda adecuados para kayak de río. Sin los mismos, no les será permitido competir.
                    Se categorizará como EXPERTOS a aquellos participantes que tengan un nivel de experiencia en ríos de clase IV-V.
                    Mientras que NOVATOS serán aquellos quienes tengan experiencia únicamente en ríos clase II-III. Todo participante debe llevar de manera bien clara en su casco (ADELANTE y ATRÁS) los stickers con su número de participante.
                    Caso contrario no podrá competir.
                    <br>
                    <br>
                    <br>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 ml-auto mr-auto text-justify">
                    <h6 class="text-left">
                        DE LOS KAYAKS
                    </h6>
                    Los kayaks aprobados para la competencia del “Cosangarace” son de tipo “sit-in” “Creek y River-Running” con longitud máxima de 275cm (9pies).
                    Los Kayaks deberán estar equipados con flotación.
                    Al momento de inscripción se registrará el Kayak del participante, con el mismo que deberá competir durante toda la carrera.
                    NO se permite cambiar de kayak.
                    <br>
                    <br>
                    <br>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 ml-auto mr-auto text-justify">
                    <h6 class="text-left">
                        DE LA COMPETECIA
                    </h6>
                    Los participantes competirán de manera individual y serán cronometrados. La sección tendrá dos diferentes pistas, una para novatos y una para expertos. Estas serán determinadas por sus respectivas compuertas.
                    Se alternarán las corridas, primero novatos y luego expertos.
                    Las largadas son individuales y estarán separadas por un intervalo mínimo de 1 min o 2 min según el número de participantes.
                    Cada participante tiene 2 corridas en las rondas de clasificación. La corrida con el mejor tiempo será tomada en cuenta para la clasificación.
                    Según el número de participantes por categoría se decidirá cuántos pasan a las finales, y se avisará la mañana de la carrera.
                    Las finales consisten únicamente de 1 corrida a la misma pista.
                    La salida de los participantes será en orden numérico ascendente según su número de competidor.
                    Si el participante no está en la salida cuando sea su turno, perderá su corrida.
                    Las puertas deben franquearse por orden numérico.
                    Las puertas podrán franquearse en cualquier posición siempre que sea por el lado correcto de la puerta.
                    El paso de una puerta comienza cuando: La embarcación, el cuerpo o la pala toca una vara de la puerta o cualquier parte del cuerpo (tronco y cabeza) del competidor cruza la línea entre las dos varas.
                    El paso de una puerta finaliza cuando se ha iniciado el paso de la siguiente puerta o cuando se cruza la línea de llegada.
                    Un correcto franqueo de la puerta sin tocar la vara con el cuerpo, la pala o la embarcación se considera un franqueo sin faltas.
                    Un competidor completa el recorrido al cruzar la línea de llegada. El competidor no puede cruzar la línea de llegada más de una vez; de lo contrario podrá ser descalificado.
                    Se abrirá categoría senior (sobre los 40 años) y mujeres en caso de que haya 4 o más competidores respectivamente.
                    <br>
                    <br>
                    <br>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 ml-auto mr-auto text-justify">
                    <h6 class="text-left">
                        PENALIZACIONES
                    </h6>
                    Franqueo o paso correcto sin faltas, no tiene penalización.
                    Franqueo o paso correcto de la puerta, pero tocando una o ambas varas 2 segundos.
                    Si un competidor no cruza por una compuerta, la empuja deliberadamente para franquearla, la atraviesa en la dirección incorrecta o dado la vuelta (con toda su extremidad superior en el agua), o franquea una compuerta en el orden incorrecto tendrá una penalización de 40 segundos.
                    Solo se puede tener una penalización por compuerta – la más alta será tomada.
                    Todo competidor será descalificado en caso de que nade (se separe de su kayak). Todo competidor será descalificado si, durante la carrera, agarra con sus manos (en fin de sacar ventaja) a otro competidor, o si utiliza el remo de manera deliberada para golpear al mismo.
                    El competidor será descalificado si no escogió la categoría adecuada según su nivel de experiencia según la sección de LOS PARTICIPANTES este reglamento.
                    <br>
                    <br>
                    <br>
                </div>
            </div>            <div class="row">
                <div class="col-md-6 ml-auto mr-auto text-justify">
                    <h6 class="text-left">
                        SUSPENCIÓN
                    </h6>
                    La organización se reserva el derecho de hacer cambios y modificaciones al itinerario y hasta suspender el evento, o sólo una categoría en caso de situaciones extremas y fuera de su control (Ej: factores climáticos, etc.).
                    En caso de suspensión del evento por situaciones extremas y fuera del control de la organización, el dinero no será devuelto a los participantes.
                    <br>
                    <br>
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>
