<div class="wrapper">
    <div class="page-header page-header-small" data-parallax="true" style="background-image: url('../../../../assets/img/2018/2018_8.jpg');">
        <div class="filter"></div>
    </div>
    <div class="section profile-content">
        <div class="container">
            <div class="owner">
                <div class="name pt-5">
                    <h4 class="title mb-5">PROGRAMA COSANGARACE 2019<br /></h4>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 ml-auto mr-auto">
                    <h5 class="text-center">
                        ANTES DE LA CARRERA
                    </h5>
                    <table class="mt-4 ml-auto mr-auto">
                        <thead class="text-center">
                            <tr>
                                <th>Fecha</th>
                                <th>Hora</th>
                                <th>Lugar</th>
                                <th>Actividad</th>
                                <th>Duración</th>
                            </tr>
                        </thead>
                        <tbody class="text-left">
                            <tr>
                                <td class="p-2">01-NOV-2019	</td>
                                <td class="p-2">08h00</td>
                                <td class="p-2">-</td>
                                <td class="p-2">Apertura inscripciones</td>
                                <td class="p-2">3 semanas</td>
                            </tr>
                            <tr>
                                <td class="p-2">19-DIC-2019</td>
                                <td class="p-2">20h00</td>
                                <td class="p-2">-</td>
                                <td class="p-2">Cierre de inscripciones</td>
                                <td class="p-2"></td>
                            </tr>
                        </tbody>
                    </table>
                    <br>
                    <br>
                    <br>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 ml-auto mr-auto">
                    <h5 class="text-center">
                        DÍA DE LA CARRERA
                    </h5>
                    <table class="mt-4 ml-auto mr-auto">
                        <thead class="text-center">
                        <tr>
                            <th>Fecha</th>
                            <th>Hora</th>
                            <th>Lugar</th>
                            <th>Actividad</th>
                            <th>Duración</th>
                        </tr>
                        </thead>
                        <tbody class="text-left">
                        <tr>
                            <td class="p-2">21-DIC-2019</td>
                            <td class="p-2">08h00</td>
                            <td class="p-2">Rio</td>
                            <td class="p-2">Reconocimiento de Pista participantes</td>
                            <td class="p-2">1h30</td>
                        </tr>
                        <tr>
                            <td class="p-2">21-DIC-2019</td>
                            <td class="p-2">08h00</td>
                            <td class="p-2">Malecón</td>
                            <td class="p-2">Entrega de Kits y pagos</td>
                            <td class="p-2">1h30</td>
                        </tr>
                        <tr>
                            <td class="p-2">21-DIC-2019</td>
                            <td class="p-2">09h30</td>
                            <td class="p-2">Malecón</td>
                            <td class="p-2">Charla técnica a participantes</td>
                            <td class="p-2">1h30</td>
                        </tr>
                        <tr>
                            <td class="p-2">21-DIC-2019</td>
                            <td class="p-2">10h00</td>
                            <td class="p-2">Río Cosanga</td>
                            <td class="p-2">Primer descenso - Novatos - Clasificatorias</td>
                            <td class="p-2">30min</td>
                        </tr>
                        <tr>
                            <td class="p-2">21-DIC-2019</td>
                            <td class="p-2">10h30</td>
                            <td class="p-2">Río Cosanga</td>
                            <td class="p-2">Primer descenso - Expertos - Clasificatorias</td>
                            <td class="p-2">30min</td>
                        </tr>
                        <tr>
                            <td class="p-2">21-DIC-2019</td>
                            <td class="p-2">11h30</td>
                            <td class="p-2">Río Cosanga</td>
                            <td class="p-2">Segundo descenso - Novatos - Clasificatorias</td>
                            <td class="p-2">30min</td>
                        </tr>
                        <tr>
                            <td class="p-2">21-DIC-2019</td>
                            <td class="p-2">12h00</td>
                            <td class="p-2">Río Cosanga</td>
                            <td class="p-2">Segundo descenso - Expertos - Clasificatorias</td>
                            <td class="p-2">30min</td>
                        </tr>
                        <tr>
                            <td class="p-2">21-DIC-2019</td>
                            <td class="p-2">13h00</td>
                            <td class="p-2">Río Cosanga</td>
                            <td class="p-2">Descenso Final - Novatos</td>
                            <td class="p-2">30min</td>
                        </tr>
                        <tr>
                            <td class="p-2">21-DIC-2019</td>
                            <td class="p-2">13h30</td>
                            <td class="p-2">Río Cosanga</td>
                            <td class="p-2">Descenso Final - Expertos</td>
                            <td class="p-2">30min</td>
                        </tr>
                        <tr>
                            <td class="p-2">21-DIC-2019</td>
                            <td class="p-2">13h30</td>
                            <td class="p-2">Malecón</td>
                            <td class="p-2">Premiación</td>
                            <td class="p-2">30min</td>
                        </tr>
                        </tbody>
                    </table>
                    <br>
                    <br>
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>
