<div class="page-header" data-parallax="true" style="background-image: url('../../../assets/img/2018/2018_7.jpg');">
    <div class="filter"></div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-6 ml-auto mr-auto text-justify">
                <div class="motto text-center">
                    <iframe width="550" height="315" src="https://www.youtube.com/embed/HLKSvVYPS4k" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-xs-12 col-md-6 ml-auto mr-auto text-justify">
                <div class="motto text-center">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/xMXZWJvpvxo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-md-12 ml-auto mr-auto text-justify">
        </div>
    </div>
</div>

