<div class="page-header page-header-small">
    <div class="filter"></div>
    <div class="container">
        <div class="motto text-center">
            <h3>Agradecemos a las siguientes empresas y personas por su colaboración para que este evento haya podido realizarse en el 2018</h3>
        </div>
    </div>
</div>
<div class="main">
    <div class="section text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="info">
                        <div class="m-auto sponsor-img-container">
                            <img class="rounded sponsor-img" src="../../../../assets/img/2018/sponsors/alegria_web_small.jpg"/>
                        </div>
                        <div class="description">
                            <h5 class="info-title">Asociación agroturistica la Alegria</h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="info">
                        <div class="m-auto sponsor-img-container">
                            <img class="rounded sponsor-img" src="../../../../assets/img/2018/sponsors/club_usfq.jpeg"/>
                        </div>
                        <div class="description">
                            <h5 class="info-title">USFQ KAYAK CLUB</h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="info">
                        <div class="m-auto sponsor-img-container">
                            <img class="rounded sponsor-img" src="../../../../assets/img/2018/sponsors/parroquia_cosanga.jpeg"/>
                        </div>
                        <div class="description">
                            <h5 class="info-title">GOBIERNO PARRIQUIAL DE COSANGA</h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="info">
                        <div class="m-auto sponsor-img-container">
                            <img class="rounded sponsor-img" src="../../../../assets/img/2018/sponsors/prefectura_napo.jpeg"/>
                        </div>
                        <div class="description">
                            <h5 class="info-title">PREFECTURA DEL NAPO</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="info">
                        <div class="m-auto sponsor-img-container">
                            <img class="rounded sponsor-img" src="../../../../assets/img/2018/sponsors/oso_perezoso.jpeg"/>
                        </div>
                        <div class="description">
                            <h5 class="info-title">HOSTAL OSO PERESOZO</h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="info">
                        <div class="m-auto sponsor-img-container">
                            <img class="rounded sponsor-img" src="../../../../assets/img/2018/sponsors/bambus.jpeg"/>
                        </div>
                        <div class="description">
                            <h5 class="info-title">HOSTAL BAMBUS</h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="info">
                        <div class="m-auto sponsor-img-container">
                            <img class="rounded sponsor-img" src="../../../../assets/img/2018/sponsors/zamva.jpeg"/>
                        </div>
                        <div class="description">
                            <h5 class="info-title">AGUA ZAMVA</h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="info">
                        <div class="m-auto sponsor-img-container">
                            <img class="rounded sponsor-img" src="../../../../assets/img/2018/sponsors/motilon.jpeg"/>
                        </div>
                        <div class="description">
                            <h5 class="info-title">EL MOTILON</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="info">
                        <div class="m-auto sponsor-img-container">
                            <img class="rounded sponsor-img" src="../../../../assets/img/2018/sponsors/eva.png">
                        </div>
                        <div class="description">
                            <h5 class="info-title">EVA TECHNOLOGY</h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="info">
                        <div class="m-auto sponsor-img-container">
                            <img class="rounded sponsor-img" src="../../../../assets/img/2018/sponsors/torrent_duck.jpeg"/>
                        </div>
                        <div class="description">
                            <h5 class="info-title">TORRENT DUCK</h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="info">
                        <div class="m-auto sponsor-img-container">
                            <img class="rounded sponsor-img" src="../../../../assets/img/2018/sponsors/Endless_adventure.png"/>
                        </div>
                        <div class="description">
                            <h5 class="info-title">ENDLESS ADVENTURE INTERNATIONAL</h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="info">
                        <div class="m-auto sponsor-img-container">
                            <img class="rounded sponsor-img" src="../../../../assets/img/2018/sponsors/casa_de_gina.jpg"/>
                        </div>
                        <div class="description">
                            <h5 class="info-title">LA CASA DE GINA</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
