<div class="wrapper">
    <div class="page-header page-header-small" data-parallax="true" style="background-image: url('../../../../assets/img/2018/2018_4.jpg');">
        <div class="filter"></div>
    </div>
    <div class="section profile-content">
        <div class="container">
            <div class="owner">
                <div class="name pt-5">
                    <h4 class="title mb-5">Razón de la carrera<br /></h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto text-justify">
                    La parroquia de Cosanga está ubicada en el Cantón Quijos, Provincia de Napo, cuenta con una red hidrográfica de mucha importancia, empezando principalmente con el Rio Cosanga que atraviesa la parroquia de norte a sur y que en su trayecto toma fuerza con varios afluentes como son: río Aragón, río Aliso, río Vinillos, río Bermejo, rio Chontas, rio Yanayacu, rio Pumayacu y muchos más riachuelos.
                    <br>
                    <br>
                    <br>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto text-justify">
                    <h6 class="text-left">
                        IMPORTANCIA BIOLÓGICA DEL RIO COSANGA:
                    </h6>
                    La cuenca del rio Cosanga está ubicada en los páramos del Antisana y en los bosques montanos de las estribaciones de la cordillera oriental de los Andes y la sub-cordillera de los Guacamayos. En estas dos ecorregiones se desarrollan una serie de procesos naturales:

                    Los ríos Tambo, Blanco Grande, Quijos, Cosanga, Urcusiqui, Jondachi, Misahuallí y Verdeyacu se originan en el páramo del Antisana y en la cordillera de Guacamayos, todos estos ríos alimentan a la gran cuenca del río Napo, sea por la cuenca Quijos - Coca - Napo o por la cuenca Jatunguaycu - Napo, aportando en por lo menos el 30% del caudal de la cuenca alta del Napo.
                    Las dos zonas son la fuente principal de agua potable para cerca del 60% de la población de la ciudad de Quito. Las poblaciones de Baeza, Cosanga, Jondachi, Sardinas, Cotundo y un sinnúmero de pueblos pequeños y caseríos, dependen del agua que se origina en el páramo del Antisana y la cordillera de Guacamayos.
                    En estas dos zonas, principalmente en la cordillera de Guacamayos, existe alta concentración de especies de flora y de fauna andina y amazónica, hecho que es reconocido a nivel mundial y que, sin embargo, aún no ha sido adecuadamente estudiado.
                    Fuente: Plan de Desarrollo y Ordenamiento Territorial de la Parroquia de Cosanga
                    <br>
                    <br>
                    <br>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto text-justify">
                    <h6 class="text-left">
                        OBJETIVO GENERAL:
                    </h6>
                    Impulsar acciones orientadas a la conservación de los recursos hídricos de la parroquia de Cosanga.
                    <br>
                    <br>
                    <br>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto text-justify">
                    <h6 class="text-left">
                        OBJETIVOS ESPECIFICOS:
                    </h6>
                    Motivar a las personas locales a la protección del rio Cosanga impulsando el kayak en la Parroquia de Cosanga.
                    Promover la conservación del rio Cosanga mediante una declaratoria de atractivo turístico.
                    Fomentar e impulsar la actividad turística de la Parroquia de Cosanga, mediante la organización del primer festival de kayak en el río Cosanga modalidad novatos y expertos.
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>
