<nav class="navbar navbar-expand-lg fixed-top navbar-transparent" color-on-scroll="500">
    <div class="container">
        <div class="navbar-translate">
            <a class="navbar-brand" [routerLink]="['/home']">COSANGARACE</a>
            <button class="navbar-toggler navbar-burger" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation" (click)="sidebarToggle()">
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav ml-auto">

                <li class="nav-item">
                    <a class="nav-link" rel="tooltip" title="Like us on Facebook" data-placement="bottom" href="https://www.facebook.com/cosangarace/" target="_blank">
                        <i class="fa fa-facebook-square"></i>
                        <p class="d-lg-none">Facebook</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" rel="tooltip" title="Follow us on Instagram" data-placement="bottom" href="https://www.instagram.com/cosangarace/" target="_blank">
                        <i class="fa fa-instagram"></i>
                        <p class="d-lg-none">Instagram</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" rel="tooltip" title="See our videos" data-placement="bottom" href="https://www.youtube.com/channel/UCXsxrD72EBn5bwsu4TYY4vg" target="_blank">
                        <i class="fa fa-youtube"></i>
                        <p class="d-lg-none">Facebook</p>
                    </a>
                </li>

                <div class="nav-item dropdown" ngbdropdown (click)="toggleNav('Carrera')" id="Carrera">
                    <div class="nav-link dropdown-toggle dropdown-toggle" ngbdropdowntoggle aria-expanded="false">
                        Carrera
                    </div>
                    <div class="dropdown-menu dropdown-menu-right dropdown-danger" ngbdropdownmenu="">
                        <a class="dropdown-item" ngbdropdownitem [routerLink]="['/objetivo']">Objetivo</a>
                        <a class="dropdown-item" ngbdropdownitem [routerLink]="['/lugar']">Lugar</a>
                        <a class="dropdown-item" ngbdropdownitem [routerLink]="['/programa']">Programa</a>
                        <a class="dropdown-item" ngbdropdownitem [routerLink]="['/reglamento']">Reglamento</a>
                    </div>
                </div>

                <div class="nav-item dropdown" ngbdropdown (click)="toggleNav('Resultados')" id="Resultados">
                    <div class="nav-link dropdown-toggle dropdown-toggle" ngbdropdowntoggle aria-expanded="false">
                        Resultados
                    </div>
                    <div class="dropdown-menu dropdown-menu-right dropdown-danger" ngbdropdownmenu="">
                        <a class="dropdown-item" ngbdropdownitem [routerLink]="['/resultados-2019']">2019</a>
                        <a class="dropdown-item" ngbdropdownitem [routerLink]="['/resultados-2018']">2018</a>
                    </div>
                </div>

                <div class="nav-item dropdown" ngbdropdown (click)="toggleNav('Participantes')" id="Participantes">
                    <div class="nav-link dropdown-toggle dropdown-toggle" ngbdropdowntoggle aria-expanded="false">
                        Participantes
                    </div>
                    <div class="dropdown-menu dropdown-menu-right dropdown-danger" ngbdropdownmenu="">
                        <a class="dropdown-item" ngbdropdownitem [routerLink]="['/participantes-2019']">2019</a>
                        <a class="dropdown-item" ngbdropdownitem [routerLink]="['/participantes-2018']">2018</a>
                    </div>
                </div>

                <div class="nav-item dropdown" ngbdropdown (click)="toggleNav('Auspiciantes')" id="Auspiciantes">
                    <div class="nav-link dropdown-toggle dropdown-toggle" ngbdropdowntoggle aria-expanded="false">
                        Auspiciantes
                    </div>
                    <div class="dropdown-menu dropdown-menu-right dropdown-danger" ngbdropdownmenu="">
                        <a class="dropdown-item" ngbdropdownitem [routerLink]="['/participantes-2019']">2019</a>
                        <a class="dropdown-item" ngbdropdownitem [routerLink]="['/participantes-2018']">2018</a>
                    </div>
                </div>

                <li class="nav-item">
                    <a class="nav-link" rel="tooltip" data-placement="bottom" [routerLink]="['/staff-2019']">Staff
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" rel="tooltip" data-placement="bottom" [routerLink]="['/media']">Media
                    </a>
                </li>

            </ul>
        </div>
    </div>
</nav>
