<div class="page-header" data-parallax="true" style="background-image: url('../../../assets/img/2019/2019_1.jpg');">
    <div class="filter"></div>
    <div class="container">
        <div class="motto text-center">
            <h1>DICIEMBRE 19, 2020</h1>
            <h3>Por la conservacion del río</h3>
            <br/>
            <a href="https://www.youtube.com/embed/HLKSvVYPS4k" class="btn btn-outline-neutral btn-round"><i
                    class="fa fa-play"></i>Video Oficial</a>
            <!--            <button type="button" class="btn btn-outline-neutral btn-round">INSCRIBETE</button>-->
            <br/>
        </div>
    </div>
</div>
<div class="main">
    <div class="section text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mr-auto ml-auto">
                    <h2 class="title">Una carrea, un objetivo</h2>
                    <h5 class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                        exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                        reprehenderit.</h5>
                    <br>
                    <!--                <a [routerLink]="["/objetivo"]" class="btn btn-danger btn-round">Lee más</a>-->
                </div>
            </div>
            <br/><br/>
            <div class="row">
                <div class="col-md-3">
                    <div class="info">
                        <div class="icon icon-danger">
                            <i class="nc-icon nc-button-power"></i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">Obejtivo</h4>
                            <p class="description">Impulsar acciones orientadas a la conservación de los recursos
                                hídricos de la parroquia de Cosanga.</p>
                            <a [routerLink]="['/objetivo']" class="btn btn-link btn-danger">Lee más</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="info">
                        <div class="icon icon-danger">
                            <i class="nc-icon nc-pin-3"></i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">Lugar</h4>
                            <p>Puente del río Cosanga de la Troncal Amazónica E45, Parroquia de Cosanga, Cantón Quijos,
                                Provincia Napo.</p>
                            <a [routerLink]="['/lugar']" class="btn btn-link btn-danger">Lee más</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="info">
                        <div class="icon icon-danger">
                            <i class="nc-icon nc-calendar-60"></i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">Programa</h4>
                            <p>El evento Cosangarace tiene un tiempo de duración total aproximado de 5 horas, incluyendo
                                la premiación.</p>
                            <a [routerLink]="['/programa']" class="btn btn-link btn-danger">Lee más</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="info">
                        <div class="icon icon-danger">
                            <i class="nc-icon nc-paper"></i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">Reglamento</h4>
                            <p>Cosangarace es una carrera Slalom un recorrido en aguas bravas, para novatos y
                                expertos.</p>
                            <br>
                            <a [routerLink]="['/reglamento']" class="btn btn-link btn-danger">Lee más</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section section-dark text-center">
        <div class="container">
            <h2 class="title">Participantes y Staff 2019</h2>
            <div class="row">
                <div class="col-md-4">
                    <div class="card card-profile card-plain">
                        <div class="card-avatar">
                            <a href="#avatar"><img src="../../../assets/img/2019/martin_kingman.png" alt="..."></a>
                        </div>
                        <div class="card-block">
                            <a href="#paper-kit">
                                <div class="author">
                                    <h4 class="card-title">Martin Kingman</h4>
                                    <h6 class="card-category">Segundo puesto novatos 2019</h6>
                                </div>
                            </a>
                            <p class="card-description text-center">
                                Entre el miedo, la adrenalina y emoción escuchaba el rugir del río Cosanga. El choque fuerte del agua contra las rocas se podía confundir con
                                el acelerado latir de mi corazón en cada rápido. La sensación de mi primera carrera de kayak fue recordarme la
                                felicidad de vivir en el presente, de vivir feliz.
                            </p>
                        </div>
                        <div class="card-footer text-center">
                            <!--                        <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-twitter"></i></a>-->
                            <!--                        <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-google-plus"></i></a>-->
                            <!--                        <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-linkedin"></i></a>-->
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card card-profile card-plain">
                        <div class="card-avatar">
                            <a href="#avatar"><img src="../../../assets/img/2019/Matic%20Tercelj.png" alt="..."></a>
                        </div>
                        <div class="card-block">
                            <a href="#paper-kit">
                                <div class="author">
                                    <h4 class="card-title">Matic Tercelj</h4>
                                    <h6 class="card-category">Primer Lugar expertos 2019</h6>
                                </div>
                            </a>
                            <p class="card-description text-center">
                                A group becomes a team when each member is sure enough of himself and his contribution
                                to praise the skill of the others. No one can whistle a symphony. It takes an orchestra
                                to play it.
                            </p>
                        </div>
                        <div class="card-footer text-center">
                            <!--                        <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-twitter"></i></a>-->
                            <!--                        <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-google-plus"></i></a>-->
                            <!--                        <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-linkedin"></i></a>-->
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card card-profile card-plain">
                        <div class="card-avatar">
                            <a href="#avatar"><img src="../../../assets/img/2019/staff/juan_sebastian_flor.png" alt="..."></a>
                        </div>
                        <div class="card-block">
                            <a href="#paper-kit">
                                <div class="author">
                                    <h4 class="card-title">Juan Sebastian Floor</h4>
                                    <h6 class="card-category">Voluntario 2019</h6>
                                </div>
                            </a>
                            <p class="card-description text-center">
                                The strength of the team is each individual member. The strength of each member is the
                                team. If you can laugh together, you can work together, silence isn’t golden, it’s
                                deadly.
                            </p>
                        </div>
                        <div class="card-footer text-center">
                            <!--                        <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-twitter"></i></a>-->
                            <!--                        <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-google-plus"></i></a>-->
                            <!--                        <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-linkedin"></i></a>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section landing-section">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mr-auto ml-auto">
                    <h2 class="text-center">Keep in touch?</h2>
                    <form class="contact-form">
                        <div class="row">
                            <div class="col-md-6">
                                <label>Name</label>
                                <div class="input-group" [ngClass]="{'input-group-focus':focus===true}">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="nc-icon nc-single-02"></i></span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Name" (focus)="focus=true" (blur)="focus=false" >
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label>Email</label>
                                <div class="input-group" [ngClass]="{'input-group-focus':focus1===true}">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">  <i class="nc-icon nc-email-85"></i></span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Email" (focus)="focus1=true" (blur)="focus1=false" >
                                </div>
                            </div>
                        </div>
                        <label>Message</label>
                        <textarea class="form-control" rows="4" placeholder="Tell us your thoughts and feelings..."></textarea>
                        <div class="row">
                            <div class="col-md-4 mr-auto ml-auto">
                                <button class="btn btn-danger btn-lg btn-fill">Send Message</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
