<div class="page-header" data-parallax="true" style="background-image: url('../../../assets/img/2019/2019_1.jpg');">
    <div class="filter"></div>
    <div class="container">
        <div class="motto text-center">
            <h1>DICIEMBRE 19, 2020</h1>
            <h3>Por la conservacion del río</h3>
            <br/>
            <a href="https://www.youtube.com/embed/HLKSvVYPS4k" class="btn btn-outline-neutral btn-round"><i
                    class="fa fa-play"></i>Video Oficial</a>
            <!--            <button type="button" class="btn btn-outline-neutral btn-round">INSCRIBETE</button>-->
            <br/>
        </div>
    </div>
</div>
<div class="main">
    <div class="section text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mr-auto ml-auto">
                    <h2 class="title">Una fiesta por la vida</h2>
                    <h5 class="description">Una carrera de kayak, una fiesta por la vida, una celebración anual que nos convoca a todos y todas quienes de diferentes formas nos hemos
                        acercado a los ríos del país y somos conscientes de la importancia de conservarlos.</h5>
                    <br>
                </div>
            </div>
            <br/><br/>
            <div class="row">
                <div class="col-md-3">
                    <div class="info">
                        <div class="icon icon-danger">
                            <i class="nc-icon nc-button-power"></i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">Obejtivo</h4>
                            <p class="description">Impulsar acciones orientadas a la conservación de los recursos
                                hídricos de la parroquia de Cosanga.</p>
                            <a [routerLink]="['/objetivo']" class="btn btn-link btn-danger mb-4">Lee más</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="info">
                        <div class="icon icon-danger">
                            <i class="nc-icon nc-pin-3"></i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">Lugar</h4>
                            <p>Puente del río Cosanga de la Troncal Amazónica E45, Parroquia de Cosanga, Cantón Quijos,
                                Provincia Napo.</p>
                            <a [routerLink]="['/lugar']" class="btn btn-link btn-danger mb-4">Lee más</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="info">
                        <div class="icon icon-danger">
                            <i class="nc-icon nc-calendar-60"></i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">Programa</h4>
                            <p>El evento Cosangarace tiene un tiempo de duración total aproximado de 5 horas, incluyendo
                                la premiación.</p>
                            <a [routerLink]="['/programa']" class="btn btn-link btn-danger mb-4">Lee más</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="info">
                        <div class="icon icon-danger">
                            <i class="nc-icon nc-paper"></i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">Reglamento</h4>
                            <p>Cosangarace es una carrera Slalom en un recorrido en aguas bravas, para novatos y
                                expertos.</p>
                            <br>
                            <a [routerLink]="['/reglamento']" class="btn btn-link btn-danger">Lee más</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section section-dark text-center">
        <div class="container">
            <h2 class="title">Participantes y Staff 2019</h2>
            <div class="row">
                <div class="col-md-4">
                    <div class="card card-profile card-plain">
                        <div class="card-avatar">
                            <div><img src="../../../assets/img/2019/martin_kingman.png" alt="..."></div>
                        </div>
                        <div class="card-block">
                            <div>
                                <div class="author">
                                    <h4 class="card-title">Martin Kingman</h4>
                                    <h6 class="card-category">Segundo puesto novatos 2019</h6>
                                </div>
                            </div>
                            <p class="card-description text-center">
                                Entre el miedo, la adrenalina y emoción escuchaba el rugir del río Cosanga.
                                La sensación de mi primera carrera de kayak fue recordarme la felicidad de vivir en el presente, de vivir feliz.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card card-profile card-plain">
                        <div class="card-avatar">
                            <div><img src="../../../assets/img/2019/Matic%20Tercelj.png" alt="..."></div>
                        </div>
                        <div class="card-block">
                            <div href="#paper-kit">
                                <div class="author">
                                    <h4 class="card-title">Matic Tercelj</h4>
                                    <h6 class="card-category">Primer Lugar expertos 2019</h6>
                                </div>
                            </div>
                            <p class="card-description text-center">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                quis nostrud exercitation ullamco.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card card-profile card-plain">
                        <div class="card-avatar">
                            <div><img src="../../../assets/img/2019/juan_sebastian_floor.png" alt="..."></div>
                        </div>
                        <div class="card-block">
                            <a href="#paper-kit">
                                <div class="author">
                                    <h4 class="card-title">Juan Sebastian Floor</h4>
                                    <h6 class="card-category">Voluntario 2019</h6>
                                </div>
                            </a>
                            <p class="card-description text-center">
                                Muchas veces pensamos que esto de cambiar el mundo es cosa de locos y es mentira.
                                Con el Cosanga Race logramos concientizar a la gente en la importancia de preservar los ríos del Ecuador.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section landing-section">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mr-auto ml-auto">
                    <h2 class="text-center">Quieres escribirnos?</h2>
                    <form class="contact-form">
                        <div class="row">
                            <div class="col-md-6">
                                <label>Tu nombre</label>
                                <div class="input-group" [ngClass]="{'input-group-focus':focus===true}">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="nc-icon nc-single-02"></i></span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Nombre" (focus)="focus=true" (blur)="focus=false" >
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label>Correo electronico</label>
                                <div class="input-group" [ngClass]="{'input-group-focus':focus1===true}">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">  <i class="nc-icon nc-email-85"></i></span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Correo electronico" (focus)="focus1=true" (blur)="focus1=false" >
                                </div>
                            </div>
                        </div>
                        <label>Mensaje</label>
                        <textarea class="form-control" rows="4" placeholder="Dinos qué piensas..."></textarea>
                        <div class="row">
                            <div class="col-md-4 mr-auto ml-auto">
                                <button class="btn btn-danger btn-lg btn-fill">Enviar Mensaje</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
